h1{
  font-weight: bolder;
  font-size: 60px;
  color: brown;
}

h3{
  font-size: 40px;
  color: orangered
}

#score{
  font-size: 25px;
  font-weight: bold;
}

#win{
  color: green;
}

#loss{
  color: red;
}
